* { 
	margin: 0; 
	padding: 0; 
}

html{
	background-color: #dce5e0;
}

html,body{
	font-family: Arial, 
	Helvetica, sans-serif;
}

.container { 
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.conteiner_menu{
	width: 100%;
	height: 28em;
	background-color: #2d2d2d;
	border-radius: 0 0 10px 10px;
}

@media all and (max-width: 450px) { 
	.conteiner_menu{
		height: 26em;
	}
}

	.conteiner_menu .menu{
		width: 85%;
		height: auto;
		position: absolute;
		top: 0.8em;
		margin: 0 7.5% 0 7.5%;
	}
	
	.conteiner_menu .menu .logo_lefa{
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 2em;
		color: #dcd2be;
	}
	
	.conteiner_menu .menu .descricao_logo_lefa_top{
		float: left;
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 1em;
		color: #dcd2be;
	}
	
	@media all and (max-width: 450px) { 
		.conteiner_menu .menu .descricao_logo_lefa_top{
			display: none;
		}
	}
	
	.conteiner_menu .menu .menu_direito{
		float: right;
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 1.1em;
		color: #dcd2be;
	}
	
	@media all and (max-width: 1060px) { 
		.conteiner_menu .menu .menu_direito{
			display: none;
		}
	}
	
	.conteiner_menu .menu .menu_direito .link_menu{
		float: left;
		margin: 0 0.7em 0 0;
	}
	
	.conteiner_menu .menu .menu_direito .link_menu_final{
		float: left;
		margin: 0;
	}
	
	.conteiner_menu .menu  
	a:link, a:visited {
		text-decoration: none;
		color: #dcd2be;
	}a:hover {
		text-decoration: underline; 
		color: #969286;
	}a:active {
		text-decoration: none;
	}
	
	.conteiner_menu .menu .conteiner_menu_opcoes{
		height: 5em;
		padding: 1em 0 0 0;
		float: right;
		display: none;
	}
	
	@media all and (max-width: 1060px) { 
		.conteiner_menu .menu .conteiner_menu_opcoes{
			display: inherit;
		}
	}
	
	@media all and (max-width: 450px) { 
		.conteiner_menu .menu .conteiner_menu_opcoes{
			float: left;
			padding: 0.5em 0.5em 0 0;
		}
	}
	
	.conteiner_menu .menu .conteiner_menu_opcoes .botao_menu{
		width: 3em;
		height: 2.4em;
		color: #dcd2be;
		background-color: transparent;
		border-radius: 6px;
		border: 1;
		border-color: #dcd2be;
		font-size: 0.8em;
	}
	
.conteiner_banner{
	width: 85%;
	position: absolute;
	margin: 1% 7.5% 1% 7.5%;
	top: 5em;
}

@media all and (max-width: 450px) { 
	.conteiner_banner{
		top: 3.5em;
	}
}
	
.conteiner_thumbnails_banner_rotativo{
	min-width: 88%;
	height: 4.8em;
	margin: 0 6% 0 6%;
	background: #2d2d2d;
	border-radius: 0 0 10px 10px;
}

@media all and (max-width: 450px) { 
	.conteiner_thumbnails_banner_rotativo{
		height: 7.5em;
	}
}

	.conteiner_thumbnails_banner_rotativo .camada_de_enchimento{
		width: 100%;
		height: 4.5em;
		float: left;
	}
	
	.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom{
		text-align: center;
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 1em;
		color: #dcd2be;
		display: none;
	}
	
	.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom a:link, 
	.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom a:visited {
		text-decoration: none;
		color: #dcd2be;
	} 
	
	.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom a:hover {
		text-decoration: underline; 
		color: #969286;
	}
	
	.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom a:active {
		text-decoration: none;
	}
	
	@media all and (max-width: 450px) { 
		.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom{
			display: inherit;
		}
	}

.barra_conteudo_livros_filmes{
	width: 100%;
	height: 17em;
	margin: 2em 0 3em 0;
	background: #dce5e0;
}
	
	.barra_conteudo_livros_filmes .conteiner_importancia_leitura{
		width: 52em;
		height: 15em;
		position:absolute;
		top: 43.3em;
		left: 50%;
		margin-top: -7.5em;
		margin-left: -26em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_importancia_leitura .bloco_de_texto{
		width: 28em;
		height: 14em;
		float: left;
		margin: 0.5em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_importancia_leitura .bloco_de_texto h3{
		text-align: left;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	.barra_conteudo_livros_filmes .conteiner_importancia_leitura .bloco_de_texto p{
		margin: 2em 0 2em 0;
		text-align: inherit;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	.barra_conteudo_livros_filmes .conteiner_importancia_leitura .bloco_de_texto a{
		text-align: left;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	.barra_conteudo_livros_filmes .conteiner_importancia_leitura .bloco_de_imagem{
		width: 20em;
		height: 12em;
		float: left;
		margin: 0.5em 0.5em 0.5em 0.5em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_importancia_leitura .bloco_de_imagem .borda_img{
		width: 20em;
		height: 12em;
		padding: 1em;
		background: white;
		border-width: 1px; 
	}
	.barra_conteudo_livros_filmes .conteiner_importancia_leitura .bloco_de_imagem img{
		width: 20em;
		height: 12em;
	}

	.barra_conteudo_livros_filmes h3{
		width: 100%;
		padding-top: 1em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	@media all and (max-width: 330px) { 
		.barra_conteudo_livros_filmes h3{
			font-size: 1.0em;
		}
	}
	
	.barra_conteudo_livros_filmes h4{
		width: 9.7em;
		height: 1em;
		top: 70.5em;
		left: 50%;
		margin-top: -0.5em;
		margin-left: -4.85em;	
		position: absolute;
		font-family: Courier New, monospace;
	}
	
	.barra_conteudo_livros_filmes h4 a:link,
	.barra_conteudo_livros_filmes h4 a:visited {
	    text-decoration: none;
	    color: #3f505d;
	}
	
	.barra_conteudo_livros_filmes h4 a:hover {
	    text-decoration: none;
	    color: #969286;
	}
	
	.barra_conteudo_livros_filmes h4 a:active {
	    text-decoration: none;
	}
		
	
	.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 55em;
		left: 18%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 55em;
		left: 50%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_terciario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 55em;
		left: 82%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	@media all and (max-width: 980px) {
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 30%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			left: 70%;
		}
	
		.barra_conteudo_livros_filmes .conteiner_terciario_livro_filme {
			display: none;
		}
	}

	@media all and (max-width: 760px) { 
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 25%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			left: 75%;
		}
	}
	
	@media all and (max-width: 600px) { 
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 50%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			display: none;
		}
	}

.barra_conteudo_voluntarios{
	width: 100%;
	height: 28em;
	margin: 1em 0 20em 0;
	background: #e8f0ec;
}

	.barra_conteudo_voluntarios h3{
		width: 100%;
		padding-top: 1em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	@media all and (max-width: 330px) { 
		.barra_conteudo_voluntarios h3{
			font-size: 1.0em;
		}
	}
	
	.barra_conteudo_voluntarios .conteiner_de_fotos{
		width: 20em;
		height: 23em;
		position:absolute;
		top: 87em;
		left: 18%;
		margin-top: -11.5em;
		margin-left: -10em;
		background-color: black;
		
	}
	
	.barra_conteudo_voluntarios .conteiner_de_texto{
		width: 30em;
		height: 25em;
		position:absolute;
		top: 86em;
		right: 2%;
		margin-top: -12.5em;
		margin-left: -15em;
		background: red;
		
	}
	
		.barra_conteudo_voluntarios .conteiner_de_texto h2{
			width: 100%;
			font-size: 1.5em;
			padding-top: 3em;
			text-align: center;
			font-family: Courier New, monospace;
			color: #3f505d;
		}
		
		.barra_conteudo_voluntarios .conteiner_de_texto p{
			width: auto;
			padding-top: 3em;
			text-align: center;
			font-family: Courier New, monospace;
			color: #3f505d;
		}
		
		.barra_conteudo_voluntarios .conteiner_de_texto .aaa{
			width: 100%;
			padding-top: 4em;
			text-align: center;
			font-family: Courier New, monospace;
			color: #3f505d;
		}





