* { 
	margin: 0; 
	padding: 0; 
}

html{
	background-color: #dce5e0;
	cursor: default;
}

html,body{
	font-family: Arial, 
	Helvetica, sans-serif;
}

.container { 
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.conteiner_menu{
	width: 100%;
	padding-bottom: 35em;
	background-color: #2d2d2d;
}

	.conteiner_menu .menu{
		width: 76%;
		height: auto;
		margin: 0 12% 0 12%;
	}
	
	@media all and (max-width: 700px) { 
		.conteiner_menu .menu{
			width: 90%;
			margin: 0 6% 0 4%;
		}
	}
	
	.conteiner_menu .menu .botao_menu {
		width: 1em;
		float: left;
		margin: 1.3em 1.2em 0 0;
		font-size: 1.4em;
	}
	
	.conteiner_menu .menu .botao_menu a,
	.conteiner_menu .menu .botao_menu a:visited {
		background: transparent;
		color: #dcd2be;
		text-align: center;
		border: solid 1px #dcd2be;
		border-radius: 5px;
		padding: 0.2em 0.4em 0.2em 0.4em;
		text-decoration: none;
	}
	.conteiner_menu .menu .botao_menu a:hover {
		background: transparent;
		border: solid 1px #969286;
		padding: 0.25em 0.4em 0.15em 0.4em;
	}
	.conteiner_menu .menu .botao_menu a:focus {
		background: transparent;
	}
	
	.conteiner_menu .menu .logo_lefa{
		margin: 0.7em 0 0 0;
		float: left;
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 2em;
		color: #dcd2be;
	}
	
	.conteiner_menu .menu .descricao_logo_lefa{
		margin: 2.5em 0 0 0;
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 1em;
		color: #dcd2be;
		float: right;
	}
	
	@media all and (max-width: 700px) { 
		.conteiner_menu .menu .descricao_logo_lefa{
			width: 17.5em;
			height: 1.5em;
			position:absolute;
			top: 4.5em;
			left: 5%;
			margin-top: -1em;
			margin-left: -8.75em;
			float: none;
			margin: 0;
		}
	}
	
	@media all and (max-width: 340px) { 
		.conteiner_menu .menu .descricao_logo_lefa{
			top: 5.5em;
			font-size: 0.8em;
		}
	}
	
	.conteiner_menu .menu a:link, 
	.conteiner_menu .menu a:visited {
		text-decoration: none;
		color: #dcd2be;
	} 
	
	.conteiner_menu .menu a:hover {
		text-decoration: none; 
		color: #969286;
	}
	
	.conteiner_menu .menu a:active {
		text-decoration: none;
	}


.conteiner_banner{
	width: 76%;
	position: absolute;
	margin: 1% 12% 1% 12%;
	top: 4.3em;
	border: solid #dcd2be;
	border-radius: 4px;
}

@media all and (max-width: 700px) { 
	.conteiner_banner{
		width: 90.5%;
		margin: 1% 5% 1% 5%;
		top: 6em;
	}
}

.barra_titulo_agenda_eventos{
	width: 24em;
	height: 6em;
	float: left;
	position: relative;
	top: 0;
	left: 50%;
	margin-top: -3em;
	margin-left: -12em;	
	background-color: #dce5e0;
	-moz-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
	-webkit-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
}	

	@media all and (max-width: 560px) { 
		.barra_titulo_agenda_eventos{
			width: 14em;
			margin-left: -7em;	
		}
	}

	.barra_titulo_agenda_eventos h3{
		margin: 1em 0.5em 0 0.5em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	@media all and (max-width: 560px) { 
		.barra_titulo_agenda_eventos h3{
			font-size: 1em;
		}
	}
	
	
.barra_conteudo_agenda_eventos{
	width: 100%;
	float: left;
	margin: 2em 0 3em 0;
}

@media all and (max-width: 560px) { 
	.barra_conteudo_agenda_eventos{
		margin: 0;
	}
}
	
	.barra_conteudo_agenda_eventos .conteiner{
		width: 76%;
		float: left;
		margin: 0 12% 0 12%;
		padding: 1em 0 4em 0;
	}
	
	@media all and (max-width: 930px) { 
		.barra_conteudo_agenda_eventos .conteiner{
			width: 100%;
			margin: 0;
			padding: 1em 0 2em 0;
		}
	}

		.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda{
			width: 50%;
			float: left;
		}
		
		@media all and (max-width: 930px) { 
			.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda{
				width: 100%;
			}
		}
		
			.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda .bloco_de_imagem{
				float: left;
				position: relative;
				top: 6.5em;
				left: 50%;
				margin-top: -100px;
				margin-left: -150px;
			}
			
			@media all and (max-width: 340px) { 
				.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda .bloco_de_imagem{
					margin-top: -90px;
					margin-left: -130px;
				}
			}
			
				.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda .bloco_de_imagem img{
					width: 100%;
					height: 100%;
				}
				
			.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda .bloco_de_texto{
				width: 100%;
				float: left;
				margin: 7.5em 0 0 0;
			}
			
				.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda .bloco_de_texto h3{
					margin: 0 0.5em 0 0.5em;
					text-align: center;
					font-family: Courier New, monospace;
					color: #3f505d;
				}
				
				@media all and (max-width: 500px) { 
					.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda .bloco_de_texto h3{
						font-size: 1em;
					}
				}
				
				.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda .bloco_de_texto p{
					margin: 0.7em 0.5em 1em 0.5em;
					text-align: center;
					font-family: Courier New, monospace;
					color: #3f505d;
				}
				
				@media all and (max-width: 500px) { 
					.barra_conteudo_agenda_eventos .conteiner .conteiner_agenda .bloco_de_texto p{
						font-size: 0.8em;
					}
				}
		
		.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos{
			width: 50%;
			float: right;
		}
		
		@media all and (max-width: 930px) { 
			.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos{
				width: 100%;
				float: left;
			}
		}
		
			.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos .bloco_de_imagem{
				float: left;
				position: relative;
				top: 6.5em;
				left: 50%;
				margin-top: -100px;
				margin-left: -150px;
			}
			
			@media all and (max-width: 340px) { 
				.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos .bloco_de_imagem{
					margin-top: -90px;
					margin-left: -130px;
				}
			}
		
				.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos .bloco_de_imagem img{
					width: 100%;
					height: 100%;
				}
				
			.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos .bloco_de_texto{
				width: 100%;
				float: left;
				margin: 7.5em 0 0 0;
			}
			
				.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos .bloco_de_texto h3{
					margin: 0 0.5em 0 0.5em;
					text-align: center;
					font-family: Courier New, monospace;
					color: #3f505d;
				}
				
				@media all and (max-width: 500px) { 
					.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos .bloco_de_texto h3{
						font-size: 1em;
					}
				}
				
				.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos .bloco_de_texto p{
					margin: 0.7em 0.5em 1em 0.5em;
					text-align: center;
					font-family: Courier New, monospace;
					color: #3f505d;
				}
				
				@media all and (max-width: 500px) { 
					.barra_conteudo_agenda_eventos .conteiner .conteiner_eventos .bloco_de_texto p{
						font-size: 0.8em;
					}
				}
	
.barra_titulo_cursos{
	width: 24em;
	height: 6em;
	float: left;
	position: relative;
	top: 3em;
	left: 50%;
	margin-top: -3em;
	margin-left: -12em;	
	background-color: #798ba0;
	-moz-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
	-webkit-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
}	

@media all and (max-width: 560px) { 
	.barra_titulo_cursos{
		width: 14em;
		margin-left: -7em;		
	}
}

	.barra_titulo_cursos h3{
		margin: 1em 0.5em 0 0.5em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #dce5e0;
	}
	
	@media all and (max-width: 560px) { 
		.barra_titulo_cursos h3{
			font-size: 1em;	
		}
	}
	
	
.barra_conteudo_cursos{
	width: 100%;
	float: left;
	background-color: #798ba0;
}

	.barra_conteudo_cursos .conteiner{
		width: 75%;
		margin: 0 12% 0 12%;
		padding: 1em 0 6em 0; 
	} 
	
	@media all and (max-width: 930px) { 
		.barra_conteudo_cursos .conteiner {
			width: 100%;	
			margin: 0;
		}
	}

		.barra_conteudo_cursos .conteiner .bloco_de_texto_top{
			width: 100%;
			float: left;
			margin: 3.5em 0 0 0;
			
		}
	
			.barra_conteudo_cursos .conteiner .bloco_de_texto_top h3{
				margin: 0 0.5em 0 0.5em;
				text-align: center;
				font-family: Courier New, monospace;
				color: #dce5e0;
			}
			
			@media all and (max-width: 560px) { 
				.barra_conteudo_cursos .conteiner .bloco_de_texto_top h3{
					font-size: 1em;	
				}
			}
			
			.barra_conteudo_cursos .conteiner .bloco_de_texto_top p{
				margin: 0.7em 0.5em 0.8em 0.5em;
				text-align: center;
				font-family: Courier New, monospace;
				color: #dce5e0;
			}
			
			@media all and (max-width: 560px) { 
				.barra_conteudo_cursos .conteiner .bloco_de_texto_top p{
					font-size: 0.8em;	
				}
			}
		
		.barra_conteudo_cursos .conteiner .bloco_de_imagem{
			float: left;
			position: relative;
			top: 7.5em;
			left: 50%;
			margin-top: -100px;
			margin-left: -150px;
		}
		
		@media all and (max-width: 340px) { 
			.barra_conteudo_cursos .conteiner .bloco_de_imagem{
				margin-top: -90px;
				margin-left: -130px;
			}
		}
	
			.barra_conteudo_cursos .conteiner .bloco_de_imagem img{
				width: 100%;
				height: 100%;
			}
		
		.barra_conteudo_cursos .conteiner .bloco_de_texto_bottom{
			width: 100%;
			float: left;
			margin: 9em 0 0 0;
		}
		
			.barra_conteudo_cursos .conteiner .bloco_de_texto_bottom p{
				margin: 0.7em 0.5em 0.5em 0.5em;
				text-align: center;
				font-family: Courier New, monospace;
				font-style:italic;
				text-shadow: 0.2em 0.2em 0.05em #2d2d2d;
				color: #dce5e0;
			}
			
			@media all and (max-width: 560px) { 
				.barra_conteudo_cursos .conteiner .bloco_de_texto_bottom p{
					font-size: 0.8em;	
				}
			}

.barra_titulo_trabalhadores{
	width: 24em;
	height: 6em;
	float: left;
	position: relative;
	top: 0em;
	left: 50%;
	margin-top: -3em;
	margin-left: -12em;	
	background-color: #dce5e0;
	-moz-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
	-webkit-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
}	

@media all and (max-width: 560px) { 
	.barra_titulo_trabalhadores{
		width: 14em;
		margin-left: -7em;	
	}
}

	.barra_titulo_trabalhadores h3{
		margin: 1em 0.5em 0 0.5em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	@media all and (max-width: 560px) { 
		.barra_titulo_trabalhadores h3{
			font-size: 1em;	
		}
	}
	
.barra_conteudo_trabalhadores{
	width: 100%;
	float: left;
}	

	.barra_conteudo_trabalhadores .conteiner{
		width: 76%;
		float: left;
		margin: 0 12% 0 12%;
		padding: 1em 0 1em 0;
	}	
	
	@media all and (max-width: 930px) { 
		.barra_conteudo_trabalhadores .conteiner {
			width: 100%;	
			margin: 0;
			padding: 1em 0 3em 0;
		}
	}
		 
		.barra_conteudo_trabalhadores .conteiner .borda_parallax {
			float: left;
			margin: 1.5em 0 0 0;
			border: solid #718087;
		}
		
		@media all and (max-width: 930px) { 
			.barra_conteudo_trabalhadores .conteiner .borda_parallax{
				width: 90%;
				margin: 0 5% 0 5%;
			}
		}
		 
			.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax {
			    min-height: 25em;
			    float: left;
			    background: transparent;
			}
			
				.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto{
				   text-decoration: none;
				   color: transparent;
				}
				
				.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto.info{
					text-shadow: 0 0 10px white;
					-webkit-transition: 1s ease-in;
					-moz-transition: 1s ease-in;
					-o-transition: 1s ease-in;
					transition: 1s ease-in;
				}
				
				.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto:hover{
				    color: white;
				}
			
				.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto h3{
				    margin: 1em 1% 2em 1%;
				    text-align: center;
				    font-family: Courier New, monospace;
				    text-shadow: 0 0 10px white;
					-webkit-transition: 1s ease-in;
					-moz-transition: 1s ease-in;
					-o-transition: 1s ease-in;
					transition: 1s ease-in;
				}
				
				@media all and (max-width: 560px) { 
					.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto h3{
						font-size: 1em;
					}
				}
				
				.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto p{
				    margin: 0 1% 2em 1%;
				    text-align: center;
				    font-family: Courier New, monospace;
				    text-shadow: 0 0 5px white;
					-webkit-transition: 1s ease-in;
					-moz-transition: 1s ease-in;
					-o-transition: 1s ease-in;
					transition: 1s ease-in;
				}
				
				@media all and (max-width: 560px) { 
					.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto p{
						width: 90%;
						margin: 0 5% 1.5em 5%;
						font-size: 0.8em;
					}
				}
				
				.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto .bloco_de_link{
				   	width: 100%;
				   	background: rgba(45, 45, 45, 0.75);
				   	padding: 1em 1% 1em 1%;
				   	text-align: center;
				    cursor: pointer;
				}
				
				.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto .bloco_de_link span{
				    font-family: Courier New, monospace;
				    text-shadow: 0 0 5px white;
					-webkit-transition: 1s ease-in;
					-moz-transition: 1s ease-in;
					-o-transition: 1s ease-in;
					transition: 1s ease-in;
				}
				
				@media all and (max-width: 560px) { 
					.barra_conteudo_trabalhadores .conteiner .bloco_de_parallax .bloco_de_texto .bloco_de_link span{
						font-size: 0.8em;
					}
				}
				
				


.barra_titulo_livros{
	width: 24em;
	height: 6em;
	float: left;
	position: relative;
	top: 3em;
	left: 50%;
	margin-top: -3em;
	margin-left: -12em;	
	background-color: #798ba0;
	-moz-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
	-webkit-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
}	

@media all and (max-width: 560px) { 
	.barra_titulo_livros{
		width: 14em;
		margin-left: -7em;	
	}
}

	.barra_titulo_livros h3{
		margin: 1em 0.5em 0 0.5em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #dce5e0;
	}
	
	@media all and (max-width: 560px) { 
		.barra_titulo_livros h3{
			font-size: 1em;	
		}
	}	
		
	
.barra_conteudo_livros{
	width: 100%;
	float: left;
	background-color: #798ba0;
}

	.barra_conteudo_livros .conteiner_importancia_leitura{
		width: 76%;
		float: left;
		margin: 3em 12% 4em 12%;
	}
	
	@media all and (max-width: 1140px) { 
		.barra_conteudo_livros .conteiner_importancia_leitura{
			width: 100%;
			margin: 3em 0 9em 0;		
		}
	}
	
		.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_texto{
			width: 53%;
			height: 100%;
			margin: 0;
			float: left;
		}
	
		@media all and (max-width: 1140px) { 
			.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_texto{
				width: 90%;
				height: auto;
				margin: 0 5% 1em 5%;
			}
		}
	
			.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_texto h3{
				margin: 0.5em 0 0 0;
				text-align: left;
				font-family: Courier New, monospace;
				color: #dce5e0;
			}
		
			@media all and (max-width: 1140px) { 
				.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_texto h3{
					text-align: center;
				}
			}
	
			@media all and (max-width: 500px) { 
				.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_texto h3{
					font-size: 1em;
				}
			}
		
			.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_texto p{
				margin: 0.7em 0 0 0;
				text-align: inherit;
				font-family: Courier New, monospace;
				color: #dce5e0;
			}
	
			@media all and (max-width: 1140px) { 
				.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_texto p{
					text-align: center;
				}
			}
	
			@media all and (max-width: 500px) { 
				.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_texto p{
					font-size: 0.8em;
				}
			}
	
		.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_imagem{
			float: right;
			margin: 0.5em 0 2em 0;
		}
		
		@media all and (max-width: 1140px) { 
			.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_imagem{
				float: left;
				position: relative;
				top: 6em;
				left: 50%;
				margin-top: -100px;
				margin-left: -150px;	
			}
		}
		
		@media all and (max-width: 340px) { 
			.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_imagem{
				margin-top: -90px;
				margin-left: -130px;
			}
		}
	
			.barra_conteudo_livros .conteiner_importancia_leitura .bloco_de_imagem img{
				width: 100%;
				height: 100%;
			}
		

.barra_titulo_filmes{
	width: 24em;
	height: 6em;
	float: left;
	position: relative;
	top: 0;
	left: 50%;
	margin-top: -3em;
	margin-left: -12em;	
	background-color: #dce5e0;
	-moz-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
	-webkit-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
}	

@media all and (max-width: 560px) { 
	.barra_titulo_filmes{
		width: 14em;
		margin-left: -7em;	
	}
}

	.barra_titulo_filmes h3{
		margin: 1em 0.5em 0 0.5em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	@media all and (max-width: 560px) { 
		.barra_titulo_filmes h3{
			font-size: 1em;	
		}
	}

.barra_conteudo_filmes{
	width: 100%;
	float: left;
	background-color: #dce5e0;
}
	
	.barra_conteudo_filmes .conteiner_importancia_filmes{
		width: 76%;
		float: left;
		margin: 1em 12% 2em 12%;
	}
	
	@media all and (max-width: 1140px) { 
		.barra_conteudo_filmes .conteiner_importancia_filmes{
			width: 100%;	
			margin: 1em 0 2em 0;
		}
	}
	
		.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_imagem{
			float: left;
			margin: 1em 0 0 0;
		}
		
		@media all and (max-width: 1140px) { 
			.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_imagem{
				float: left;
				position: relative;
				top: 6em;
				left: 50%;
				margin-top: -100px;
				margin-left: -150px;	
			}
		}
		
		@media all and (max-width: 340px) { 
			.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_imagem{
				margin-top: -90px;
				margin-left: -130px;
			}
		}

			.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_imagem img{
				width: 100%;
				height: 100%;
			}
	
	
		.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_texto{
			width: 53%;
			margin: 0;
			float: right;
		}

		@media all and (max-width: 1140px) { 
			.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_texto{
				width: 90%;
				margin: 7em 5% 0 5%;
			}
		}
	
			.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_texto h3{
				margin: 0;
				text-align: left;
				font-family: Courier New, monospace;
				color: #3f505d;
			}
	
			@media all and (max-width: 1140px) { 
				.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_texto h3{
					text-align: center;
				}
			}

			@media all and (max-width: 500px) { 
				.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_texto h3{
					font-size: 1em;
				}
			}
		
			.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_texto p{
				margin: 0.7em 0 0 0;
				text-align: inherit;
				font-family: Courier New, monospace;
				color: #3f505d;
			}

			@media all and (max-width: 1140px) { 
				.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_texto p{
					text-align: center;
				}
			}
	
			@media all and (max-width: 500px) { 
				.barra_conteudo_filmes .conteiner_importancia_filmes .bloco_de_texto p{
					font-size: 0.8em;
				}
			}
	
.barra_titulo_lefa{
	width: 24em;
	height: 6em;
	float: left;
	position: relative;
	top: 3em;
	left: 50%;
	margin-top: -3em;
	margin-left: -12em;	
	background-color: #798ba0;
	-moz-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
	-webkit-box-shadow: 36px 4px 20px -35px #2d2d2d, -36px 4px 20px -35px #2d2d2d;
}	

@media all and (max-width: 560px) { 
	.barra_titulo_lefa{
		width: 14em;
		margin-left: -7em;	
	}
}

	.barra_titulo_lefa h3{
		margin: 1em 0.5em 0 0.5em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #dce5e0;
		text-overflow: clip;
	}
	
	@media all and (max-width: 560px) { 
		.barra_titulo_lefa h3{
			font-size: 1em;	
		}
	}

.barra_conteudo_lefa{
	width: 100%;
	float: left;
	background-color: #798ba0;
}
	
	.barra_conteudo_lefa .conteiner{
		width: 76%;
		float: left;
		margin: 4em 12% 2em 12%;
		padding: 0 0 3em 0;
	}
	
	@media all and (max-width: 1140px) { 
		.barra_conteudo_lefa .conteiner{
			width: 100%;	
			margin: 3em 0 2em 0;
		}
	}
	
		.barra_conteudo_lefa .conteiner .bloco_de_texto_top{
			width: 100%;
			float: left;
			padding: 0 0 8em 0;
		}
		
			.barra_conteudo_lefa .conteiner .bloco_de_texto_top h3{
				margin: 0 1% 0 1%;
				text-align: center;
				font-family: Courier New, monospace;
				color: #dce5e0;
			}
			
			@media all and (max-width: 500px) { 
				.barra_conteudo_lefa .conteiner .bloco_de_texto_top h3{
					font-size: 1em;
				}
			}
			
			.barra_conteudo_lefa .conteiner .bloco_de_texto_top p{
				margin: 1.5em 1% 0 1%;
				text-align: center;
				font-family: Courier New, monospace;
				color: #dce5e0;
			}

			@media all and (max-width: 1140px) { 
				.barra_conteudo_lefa .conteiner .bloco_de_texto_top p{
					font-size: 0.8em;
				}
			}
			
		.barra_conteudo_lefa .conteiner .bloco_de_imagem{
			float: left;
			position: relative;
			top: 0;
			left: 50%;
			margin-top: -100px;
			margin-left: -150px;
		}
		
		@media all and (max-width: 340px) { 
			.barra_conteudo_lefa .conteiner .bloco_de_imagem{
				margin-top: -90px;
				margin-left: -130px;
			}
		}
		
		.barra_conteudo_lefa .conteiner .bloco_de_imagem img{
			width: 100%;
			height: 100%;
		}
		
		.barra_conteudo_lefa .conteiner .bloco_de_texto_bottom{
			width: 100%;
			float: left;
			padding: 2em 0 0 0;
		}
		
			.barra_conteudo_lefa .conteiner .bloco_de_texto_bottom p{
				margin: 0 1% 0.8em 1%;
				text-align: center;
				font-family: Courier New, monospace;
				font-style:italic;
				text-shadow: 0.2em 0.2em 0.05em #2d2d2d;
				color: #dce5e0;
			}

			@media all and (max-width: 1140px) { 
				.barra_conteudo_lefa .conteiner .bloco_de_texto_bottom p{
					font-size: 0.8em;
				}
			}

.barra_titulo_fale_conosco{
	width: 24em;
	height: 6em;
	float: left;
	position: relative;
	top: 0;
	left: 50%;
	margin-top: -3em;
	margin-left: -12em;	
	background-color: #2d2d2d;
	-moz-box-shadow: 36px 4px 20px -35px pink, -36px 4px 20px -35px pink;
	-webkit-box-shadow: 36px 4px 20px -35px #0d0d0d, -36px 4px 20px -35px #0d0d0d;
}	

@media all and (max-width: 560px) { 
	.barra_titulo_fale_conosco{
		width: 14em;
		margin-left: -7em;	
	}
}

	.barra_titulo_fale_conosco h3{
		margin: 1em 0.5em 0 0.5em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #dcd2be;
		text-overflow: clip;
	}
	
	@media all and (max-width: 560px) { 
		.barra_titulo_fale_conosco h3{
			font-size: 1em;	
		}
	}

.barra_conteudo_fale_conosco{
	width: 100%;
	margin: -3em 0 0 0;
	float: left;
	background-color: #2d2d2d;
}
	
	.barra_conteudo_fale_conosco .conteiner{
		width: 96%;
		float: left;
		margin: 4em 3% 3em 3%;
	}
	
		.barra_conteudo_fale_conosco .conteiner .bloco_de_texto{	
			width: 100%;
			float: left;
			margin: 0 0 2em 0;
			text-align: center;
			font-family: Courier New, monospace;
			color: #dcd2be;
		}
		
			.barra_conteudo_fale_conosco .conteiner .bloco_de_texto h3{	
				margin: 0 0 1em 0;
			}
			
			@media all and (max-width: 1140px) { 
				.barra_conteudo_fale_conosco .conteiner .bloco_de_texto h3{
					font-size: 1em;
				}
			}
			
			.barra_conteudo_fale_conosco .conteiner .bloco_de_texto p{	
				margin: 0 0 1em 0;
			}
			
			@media all and (max-width: 1140px) { 
				.barra_conteudo_fale_conosco .conteiner .bloco_de_texto p{
					font-size: 0.8em;
				}
			}
	
		.barra_conteudo_fale_conosco .conteiner .bloco_de_formulario{	
			width: 60%;
			float: left;
		}
	
			.barra_conteudo_fale_conosco .conteiner .bloco_de_formulario input{	
				width: 100%;
				margin: 0 0 0.2em 0;
				padding: 1.2em 0.5em 1.2em 0.5em;
				font-size: 1em;
			    background: #2f3238; 
				color: #dcd2be;
		     	box-shadow: 0 0 0 0;
			    border: 0 none;
			    outline: 0;
			    font-family: Courier New, monospace;
			}
			
			.barra_conteudo_fale_conosco .conteiner .bloco_de_formulario textarea{
				max-width: 100%;
				min-width: 100%;
				margin: 0 0 0 0;
				padding: 1.2em 0.5em 1.2em 0.5em;
				font-size: 1em;
			    background: #2f3238; 
				color: #dcd2be;
		     	box-shadow: 0 0 0 0;
			    border: 0 none;
			    outline: 0;   
			    overflow:auto;
			    font-family: Courier New, monospace;
			}
			
			.barra_conteudo_fale_conosco .conteiner .bloco_de_formulario button{
				padding: 1.2em 0.5em 1.2em 0.5em;
				font-size: 1em;
			    background: #2f3238; 
				color: #dcd2be;
		     	box-shadow: 0 0 0 0;
			    border: 0 none;
			    outline: 0;   
			    overflow:auto;
			    font-family: Courier New, monospace;
			    cursor: pointer;
			    -webkit-transition: 0.1s ease-in;
				-moz-transition: 0.1s ease-in;
				-o-transition: 0.1s ease-in;
				transition: 0.1s ease-in;
			}
			
			.barra_conteudo_fale_conosco .conteiner .bloco_de_formulario button:hover{
				background-color: #dcd2be;
				color: white;
				-webkit-transition: 0.1s ease-in;
				-moz-transition: 0.1s ease-in;
				-o-transition: 0.1s ease-in;
				transition: 0.1s ease-in;
			}
		
		.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos{	
			width: 38%;
			float: left;
			text-align: center;
			font-family: Courier New, monospace;
			color: #dcd2be;
			background: red;
		}
		
			.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos h3{	
				font-size: 1em;
				margin: 0 0 1em 0;
			}
			
			.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_de_icone{
				width: 100%;
				float: left;
				margin: 1em 0 0 0;
				background: gray;
			}	
			
				.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_de_icone .bbb{
					width: 60px;
					float: left;
					margin: 0 0 0 1em;
					background-color: pink;
				}
				
				.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_de_icone .bbb .aaa{
					width: 50px;
				    height: 50px;
				    -moz-border-radius: 50px;
				    -webkit-border-radius: 50px;
				    border-radius: 50px;
					background-color: #2f3238;
				}
				
					.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_de_icone .bbb .aaa img{	
						margin: 15px 0 0 0;
						width: 20px;
					}
				
				.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_de_icone p{
					text-align: left;
					font-size: 0.8em;
				}
			
			/*.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_icone .bloco_de_icone_esquerdo{
				width: 50%;
				float:left;
				background-color: pink;
			}
			
				.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_icone 
				.bloco_de_icone_esquerdo .icone_email{	
					width: 50px;
				    height: 50px;
				    float: left;
				    margin: 0 1% 0 1%;
				    -moz-border-radius: 50px;
				    -webkit-border-radius: 50px;
				    border-radius: 50px;
					background-color: #2f3238;
					
				}
				
				.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_icone 
				.bloco_de_icone_esquerdo .icone_email:hover{ 
					background-color: #3b4047;
					-webkit-transition: 0.1s ease-in;
					-moz-transition: 0.1s ease-in;
					-o-transition: 0.1s ease-in;
					transition: 0.1s ease-in;
				}
				
					.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_icone 
					.bloco_de_icone_esquerdo .icone_email img{	
						margin: 18px 0 0 0;
						width: 20px;
					}
					
					.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_icone 
					.bloco_de_icone_esquerdo .bloco_de_texto{	
						width: 200px;
						height: 50px;
						padding: 1em 0 0 0;
						float: left;
						background-color: blue;
					}
					
					.barra_conteudo_fale_conosco .conteiner .bloco_de_enderecos .conteiner_icone 
					.bloco_de_icone_esquerdo .bloco_de_texto p{	
						
					}*/
				
	/*.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 55em;
		left: 18%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 55em;
		left: 50%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_terciario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 55em;
		left: 82%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	@media all and (max-width: 980px) {
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 30%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			left: 70%;
		}
	
		.barra_conteudo_livros_filmes .conteiner_terciario_livro_filme {
			display: none;
		}
	}

	@media all and (max-width: 760px) { 
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 25%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			left: 75%;
		}
	}
	
	@media all and (max-width: 600px) { 
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 50%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			display: none;
		}
	}

.barra_conteudo_voluntarios{
	width: 100%;
	height: 28em;
	margin: 1em 0 20em 0;
	background: #e8f0ec;
}

	.barra_conteudo_voluntarios h3{
		width: 100%;
		padding-top: 1em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	@media all and (max-width: 330px) { 
		.barra_conteudo_voluntarios h3{
			font-size: 1.0em;
		}
	}
	
	.barra_conteudo_voluntarios .conteiner_de_fotos{
		width: 20em;
		height: 23em;
		position:absolute;
		top: 87em;
		left: 18%;
		margin-top: -11.5em;
		margin-left: -10em;
		background-color: black;
		
	}
	
	.barra_conteudo_voluntarios .conteiner_de_texto{
		width: 30em;
		height: 25em;
		position:absolute;
		top: 86em;
		right: 2%;
		margin-top: -12.5em;
		margin-left: -15em;
		background: red;
		
	}
	
		.barra_conteudo_voluntarios .conteiner_de_texto h2{
			width: 100%;
			font-size: 1.5em;
			padding-top: 3em;
			text-align: center;
			font-family: Courier New, monospace;
			color: #3f505d;
		}
		
		.barra_conteudo_voluntarios .conteiner_de_texto p{
			width: auto;
			padding-top: 3em;
			text-align: center;
			font-family: Courier New, monospace;
			color: #3f505d;
		}
		
		.barra_conteudo_voluntarios .conteiner_de_texto .aaa{
			width: 100%;
			padding-top: 4em;
			text-align: center;
			font-family: Courier New, monospace;
			color: #3f505d;
		}*/

