* { 
	margin: 0; 
	padding: 0; 
}

html{
	background-color: #dce5e0;
}

html,body{
	font-family: Arial, 
	Helvetica, sans-serif;
}

.container { 
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.conteiner_menu{
	width: 100%;
	height: 28em;
	background-color: #2d2d2d;
	border-radius: 0 0 10px 10px;
}

@media all and (max-width: 450px) { 
	.conteiner_menu{
		height: 26em;
	}
}

	.conteiner_menu .menu{
		width: 85%;
		height: auto;
		position: absolute;
		top: 0.8em;
		margin: 0 7.5% 0 7.5%;
	}
	
	.conteiner_menu .menu .logo_lefa{
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 2em;
		color: #dcd2be;
	}
	
	.conteiner_menu .menu .descricao_logo_lefa_top{
		float: left;
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 1em;
		color: #dcd2be;
	}
	
	@media all and (max-width: 450px) { 
		.conteiner_menu .menu .descricao_logo_lefa_top{
			display: none;
		}
	}
	
	.conteiner_menu .menu .menu_direito{
		float: right;
		font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
		font-size: 1.1em;
		color: #dcd2be;
	}
	
	@media all and (max-width: 1060px) { 
		.conteiner_menu .menu .menu_direito{
			display: none;
		}
	}
	
	.conteiner_menu .menu .menu_direito .link_menu{
		float: left;
		margin: 0 0.7em 0 0;
	}
	
	.conteiner_menu .menu .menu_direito .link_menu_final{
		float: left;
		margin: 0;
	}
	
	.conteiner_menu .menu  
	a:link, a:visited {
		text-decoration: none;
		color: #dcd2be;
	}a:hover {
		text-decoration: underline; 
		color: #969286;
	}a:active {
		text-decoration: none;
	}
	
	.conteiner_menu .menu .conteiner_menu_opcoes{
		height: 5em;
		padding: 1em 0 0 0;
		float: right;
		display: none;
	}
	
	@media all and (max-width: 1060px) { 
		.conteiner_menu .menu .conteiner_menu_opcoes{
			display: inherit;
		}
	}
	
	@media all and (max-width: 450px) { 
		.conteiner_menu .menu .conteiner_menu_opcoes{
			float: left;
			padding: 0.5em 0.5em 0 0;
		}
	}
	
	.conteiner_menu .menu .conteiner_menu_opcoes .botao_menu{
		width: 3em;
		height: 2.4em;
		color: #dcd2be;
		background-color: transparent;
		border-radius: 6px;
		border: 1;
		border-color: #dcd2be;
		font-size: 0.8em;
	}
	
.conteiner_banner{
	width: 85%;
	position: absolute;
	margin: 1% 7.5% 1% 7.5%;
	top: 5em;
}

@media all and (max-width: 450px) { 
	.conteiner_banner{
		top: 3.5em;
	}
}
	
.conteiner_thumbnails_banner_rotativo{
	min-width: 88%;
	height: 4.8em;
	margin: 0 6% 0 6%;
	background: #2d2d2d;
	border-radius: 0 0 10px 10px;
}

@media all and (max-width: 450px) { 
	.conteiner_thumbnails_banner_rotativo{
		height: 7.5em;
	}
}

.conteiner_thumbnails_banner_rotativo .camada_de_enchimento{
	width: 100%;
	height: 4.5em;
	float: left;
}

.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom{
	text-align: center;
	font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
	font-size: 1em;
	color: #dcd2be;
	display: none;
}

.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom  
	a:link, a:visited {
		text-decoration: none;
		color: #dcd2be;
	}a:hover {
		text-decoration: underline; 
		color: #969286;
	}a:active {
		text-decoration: none;
	}

@media all and (max-width: 450px) { 
	.conteiner_thumbnails_banner_rotativo .descricao_logo_lefa_bottom{
		display: inherit;
	}
}

.barra_conteudo_livros_filmes{
	width: 100%;
	height: 31em;
	margin: 3em 0 3em 0;
	background: #e8f0ec;
}

	.barra_conteudo_livros_filmes h3{
		width: 100%;
		padding-top: 1em;
		text-align: center;
		font-family: Courier New, monospace;
		color: #3f505d;
	}
	
	.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 54em;
		left: 18%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 54em;
		left: 50%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	.barra_conteudo_livros_filmes .conteiner_terciario_livro_filme {
		width: 20em;
		height: 28.7em;
		position:absolute;
		top: 54em;
		left: 82%;
		margin-top: -14.35em;
		margin-left: -10em;
	}
	
	@media all and (max-width: 980px) {
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 30%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			left: 70%;
		}
	
		.barra_conteudo_livros_filmes .conteiner_terciario_livro_filme {
			display: none;
		}
	}

	@media all and (max-width: 760px) { 
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 25%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			left: 75%;
		}
	}
	
	@media all and (max-width: 600px) { 
		.barra_conteudo_livros_filmes .conteiner_primario_livro_filme {
			left: 50%;
		}
		
		.barra_conteudo_livros_filmes .conteiner_secundario_livro_filme {
			display: none;
		}
	}

	



